{% load catalog_extras %}

<table class='table table-condensed'>

{% for key, value in catalog_item.items %}
    {% if 'installer_item_location' in key %}
        {# provide download link for the package #}
        <tr><th scope="row">{{ key }}</th><td><a href='/munki_repo/{{ value }}'>{{ value }}</a></td></tr>
    {% if key == 'name' %}
        {# provide link to the packages page #}
        <tr><th scope="row">{{ key }}</th><td><a href='/pkgs/?findtext={{ value }}&filter=Filter+List'>{{ value }}</a></td></tr>
    {% elif value|type_is:'array' %}
        {% if value.0|type_is:'dictionary' %}
            {# list of dicts #}
            <tr><th scope="row">{{ key }}</th>
            <td>{% include "catalogs/dict_list.html" with dict_list=value only %}</td></tr>
        {% else %}
            {# list of strings #}
            <tr><th scope="row">{{ key }}</th>
            <td>
                {% for item in value %}
                    {% if 'catalog' in key %}
                        <a href='/catalog/{{ item }}'>{{ item }}</a>
                    {% else %}
                        {{ item }}
                    {% endif %}
                    {% if not forloop.last %}<br />{% endif %}
                {% endfor %}
            </td></tr>
        {% endif %}
    {% elif value|type_is:'dictionary' %}
        <tr><th scope="row">{{ key }}</th>
        <td>{% include "catalogs/generic_dict.html" with generic_dict=value only %}</td></tr>
    {% elif '_script' in key %}
        {# special case: show scripts in monospaced font #}
        <tr><th scope="row">{{ key }}</th><td class="code">{{ value }}</td></tr>
    {% elif 'icon_path' in key %}
    {% else %}
        {# regular scalar value #}
        <tr><th scope="row">{{ key }}</th><td>{{ value }}</td></tr>
    {% endif %}
{% endfor %}

</table>

