{% extends 'base.html' %}

<!-- page title -->
{% block page_title %}<a href="{% url 'pkgs.views.index' %}" class="navbar-brand" >Packages</a>{% endblock %}

{% block navbar-default_extensions %}
<div class="btn" style="margin-left:45px;">
	{% if confirm_move %}
	<p>Confirm Move Packages</p>
	{% elif confirm_add %}
	<p>Confirm add Packages to Catalog</p>
	{% elif confirm_remove %}
	<p>Confirm remove Packages from Catalog</p>
	{% else %}
	<p>Confirm Delete Packages</p>
	{% endif %}
</div>
{% endblock %}

{% block content %}

{% if items_to_move %}

<form id='done' action='/pkgs/done/' method='post'>
	<div class='well form-horizontal'>
	{% if dest_catalog == "set-new" %}
		<b>Enter a new catalog name: &nbsp;
		<input class='form-control-main form-control dropdown-toggle' type='text' name="new_dest_catalog" />
	{% endif %}
	{% if confirm_move %}
		<input class='btn' type='submit' name='confirm_move' value='Confirm Move' />
	{% elif confirm_add %}
		<input class='btn' type='submit' name='confirm_add' value='Confirm Add' />
	{% elif confirm_remove %}
		<input class='btn' type='submit' name='confirm_remove' value='Confirm Remove' />
	{% else %}
		<input class='btn' type='submit' value='Confirm Delete' />
	{% endif %}
	</div>
	<p/>
	<table class='pkglist table table-striped table-condensed'>
		<thead>
			<tr>
				<th>Name</th>
				<th>Version</th>
	{% if confirm_remove or confirm_delete %}
				<th>Origin Catalog(s)</th>
	{% else %}
				<th>New Catalog</th>
	{% endif %}
			</tr>
		</thead>
		<tbody>
	{% for package, version, orig_catalog, pkg_location in items_to_move %}
		{% if confirm_move and orig_catalog != dest_catalog %}
			<tr>
				<td class='item-name'>
				<input type='hidden' name='final_items_to_move[]' value='{{ package }}___{{ version }}___{{ dest_catalog }}' />
				{{ package }}</td>
				<td>{{ version }}</td>
				<td>
			{% if dest_catalog = 'set-new' %}
				(Input new catalog above)
			{% else %}
				{{ dest_catalog }}
			{% endif %}
				</td>
			</tr>
		{% elif confirm_add and orig_catalog != dest_catalog %}
			<tr>
				<td>
				<input type='hidden' name='final_items_to_move[]' value='{{ package }}___{{ version }}___{{ orig_catalog }}___{{ dest_catalog }}' />
				{{ package }}</td>
				<td>{{ version }}</td>
				<td>
			{% if dest_catalog = 'set-new' %}
				(Input new catalog above)
			{% else %}
				{{ dest_catalog }}
			{% endif %}
				</td>
			</tr>
		{% elif confirm_remove %}
			<tr>
				<td>
				<input type='hidden' name='final_items_to_move[]' value='{{ package }}___{{ version }}___{{ orig_catalog }}' />
				{{ package }}</td>
				<td>{{ version }}</td>
				<td>{{ orig_catalog }}</td>
			</tr>
		{% else %}
			<tr>
				<td class='item-name'>
				<input type='hidden' name='final_items_to_delete[]' value='{{ package }}___{{ version }}___{{ pkg_location }}' />
				{{ package }}</td>
				<td>{{ version }}</td>
				<td>{{ pkg_location }}</td>
			</tr>
		{% endif %}

	{% endfor %}
		</tbody>
	</table>
</form>
{% else %}
	<p><i>No Packages selected.</i></p>
{% endif %}
{% endblock content %}