{% extends 'base.html' %}

<!-- page title -->
{% block page_title %}<a href="{% url 'pkgs.views.index' %}" class="navbar-brand" >Packages</a>{% endblock %}

{% block navbar-default_extensions %}
<div class="btn" style="margin-left:45px;">
	<p>Packages Deleted</p>
</div>
{% endblock %}

{% block content %}

<p>Deleted? - {{ deleted }}</p>
<p>{{ deleted_packages }}</p>

{% if deleted %}
	<p>Makecatalogs has updated the catalogs. The following packages were deleted:</p>
	<table class='pkglist table table-striped table-condensed'>
		<tbody>
	{% for package in deleted_packages %}
			<tr>
				<td>{{ package }}</td>
			</tr>
	{% endfor %}
		</tbody>
	</table>

{% else %}
	<p><i>No Packages were selected.</i></p>
{% endif %}
{% endblock content %}