{% extends 'base.html' %}

<!-- page title -->
{% block page_title %}<a href="{% url 'pkgs.views.index' %}" class="navbar-brand" >Packages</a>{% endblock %}

{% block navbar-default_extensions %}
<div class='btn' style='margin-left:45px;'>
	{% if confirm_move %}
	<p>Packages have been moved to a new catalog</p>
	{% elif confirm_add %}
	<p>Packages have been added to a new catalog</p>
	{% else %}
	<p>Packages have been removed from a catalog</p>
	{% endif %}
</div>
{% endblock %}

{% block content %}

{% if done %}
	<p><a href="{% url 'pkgs.views.index' %}" class="navbar-brand" >Back to the Packages page</a></p>
{% else %}
	<p><i>Error: No Packages were selected.</i></p>
{% endif %}
{% endblock content %}